@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
    text-decoration: none;
}


a,
a:hover,
a i {
    transition: all .3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;

}

li {
    list-style: none;
}

/* 使いまわすもの
------------------------------------------ */

.button a {
    border-radius: 3rem;
    padding: .625rem 1.25rem;
    margin: .3125rem auto;
    color: #fff;
    overflow: hidden;
}

.button a:hover,
.footer-button a:hover {
    opacity: .6;
}

.container {
    margin: 3.25rem clamp(1rem, -4.022rem + 21.43vw, 6.25rem);
}

/*PC*/
@media(min-width:768px) {
    .container {
        margin: 5rem clamp(5rem, -7.667rem + 26.39vw, 24rem);
    }
}

.section-title {
    text-align: center;
    font-size: 1.6rem;
    margin: 1.25rem 0;
}

/*PC*/
@media(min-width:768px) {
    .section-title {
        font-size: 2.25rem;
        margin-bottom: 1.875rem;
    }
}

/*説明会申し込みエリア*/

.briefing-request {
    background-color: #FFEDED;
    text-align: center;
    padding: 1.875rem;
}

.briefing-request p {
    font-size: 1rem;
    margin-bottom: .625rem;
}

.briefing-request-button {
    width: 315px;
    box-sizing: border-box;
    margin: 0 auto;
}

.briefing-request-button a {
    background: linear-gradient(to right, #0271E0, #53A2F0);
    display: block;
    width: 100%;
    /*すべてのaに設定したい*/
    height: 100%;
    font-size: 1.25rem;
    padding: 1.25rem 0;
}

@media(min-width:768px) {
    .briefing-request {
        padding: 3.125rem 0;
    }

    .briefing-request-button {
        display: inline-block;
        width: 21.875rem;
    }

}

/*矢印アイコン*/
.bi-arrow-right-short {
    font-size: 1.5625rem;
}

/*マウスオーバー時、画像を拡大(PC表示時)*/
@media(min-width:768px){
    .expantion-img {
        transition: transform .4s;
    }

    .expantion-img:hover {
        transform: scale(1.2);
    }
    }


/*フォント
--------------------------------------*/

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.noto-sans-jp-medium {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-jp-black {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* ヘッダー
------------------------------------------ */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 20%);
}

.header-title {
    font-size: 1.4375rem;
    padding-left: clamp(1.625rem, -2.799rem + 18.88vw, 6.25rem);
    /*containerのmargin(横)と同値*/
    margin: auto 0;
    letter-spacing: -.0313rem;
}

.header-title a {
    color: #005BAC;
}

@media(min-width:768px) {
    .header-container {
        padding: 0 clamp(5rem, -7.667rem + 26.39vw, 24rem);
        /*conteinerのmargin(横)と同値*/
        box-sizing: border-box;
        white-space: nowrap;
    }

    .header-title {
        margin: auto -.25rem;
        padding-left: 0;
        font-size: clamp(1.75rem, 1.542rem + .43vw, 2.063rem);
    }
}

/*ハンバーガーボタン（SP表示のみ）*/
.hamburger-button-container {
    background-color: #005BAC;
    display: flex;
    align-items: center;
    padding: .625rem .9375rem;
    padding-top: .25rem;
}

.hamburger-button {
    font-size: 2.4688rem;
    color: #fff;
}

.drawer-menu-container {
    z-index: 2;
    position: fixed;
    top: 4.375rem;
    left: 0;
    right: 0;
    background-color: #005BAC;
    opacity: 0;
    visibility: hidden;
}


/*ドロワーメニュー*/
.drawer-menu ul li a {
    display: block;
    width: 85%;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,.5);
    margin: 0 auto;
    padding: 1.2813rem 0;
    line-height: 1;
}

.drawer-menu i {
    margin-left: -.375rem;

}

.drawer-menu-text {
    font-size: 1.125rem;
    letter-spacing: .0125rem;
    margin-left: .25rem;
    line-height: 0.322;
}

.drawer-menu-button a {
    background-color: #fff;
    color: #005BAC;
    display: block;
    margin: 2.0625rem auto;
    padding: 1.0625rem 0;
    width: 21.125rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    text-align: center;
}


/* スライドイン後の位置の指定 */
.drawer-menu-active {
    opacity: 1;
    visibility: visible;
}

/*ナビゲーションメニュー（PC表示のみ）*/
@media(min-width:768px) {

    /*ハンバーガーメニューを非表示に*/
    .hamburger-button-container {
        display: none;
    }

    .drawer-menu ul li a {
        display: inline-block;
        color: #000;
        border-bottom: none;
        margin: 0;
        padding: 0;
        line-height: 1;
    }


    /*矢印アイコン*/
    .header-nav i {
        display: none;
    }

    .header-nav-container {
        position: static;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        display: flex;
        align-items: center;
        height: 6.5rem;
        column-gap: clamp(0rem, -.625rem + 1.3vw, .938rem);
    }

    .header-nav ul {
        display: flex;
        align-items: center;
        column-gap: clamp(19.008px, -.021rem + 2.52vw, 3rem);
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 30px;
    }

    .header-menu-text {
        font-size: clamp(13.008px, .563rem + .52vw, 19.008px);
        letter-spacing: .0625rem;
        margin-left: 0;
        line-height: 1;

    }

    .header-nav-button a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #0271E0, #53A2F0);
        width: clamp(10rem, 5.042rem + 10.33vw, 17.438rem);
        height: clamp(2.5rem, 1.458rem + 2.17vw, 4.063rem);
        font-size: clamp(.75rem, .417rem + .69vw, 1.25rem);
        color: #fff;
        margin: auto;
        padding: 0;
        box-sizing: border-box;
    }
}

/* Cover
------------------------------------------ */

/*全体*/
.cover {
    margin-top: 4.375rem;
    height: clamp(15rem, 13.027rem + 8.42vw, 17.063rem);
    background-image: url("../images/mv_sp_02.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

/*カバー左側の部分*/
.cover-left-container {
    margin-top: .3125rem;
    padding-left: clamp(1.625rem, -2.799rem + 18.88vw, 6.25rem);
    white-space: nowrap;
    box-sizing: border-box;
    padding-top: 1.8125rem;
}

/*PC*/
@media(min-width:768px) {
    .cover {
        margin-top: 6.5rem;
        background-image: url("../images/mv_pc_03.jpg");
        height: 34vw;
    }

    .cover-left-container {
        padding-top: clamp(2.188rem, -.521rem + 5.64vw, 6.25rem);
        padding-left: 0;
        margin-left: clamp(5rem, -7.667rem + 26.39vw, 24rem);
        /*conteinerのmargin(横)と同値*/
    }
}


/*画像左部の文字*/
.cover-left-top {
    display: flex;
}

/*合格実績No.1(cover-left-top)*/
.cover-frame {
    height: 72px;
}

.cover-frame-inside-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-size: .6875rem;
}

.cover-frame-inside-no-1 {
    color: #F11F8D;
    font-size: 26px;
}

.cover-frame-inside-no-1 .letter-big {
    font-size: 2.25rem;
}

/*PC*/
@media(min-width:768px) {
    .cover-frame {
        height: clamp(5.375rem, 2.708rem + 5.56vw, 9.375rem);
    }

    .cover-frame-inside-text {
        font-size: clamp(.75rem, .417rem + .69vw, 1.25rem);
        margin: 0 clamp(.625rem, .208rem + .87vw, 1.25rem);
    }

    .cover-frame-inside-no-1 {
        font-size: clamp(1.875rem, .833rem + 2.17vw, 3.438rem);
        margin-left: clamp(0rem, -.542rem + 1.13vw, .813rem);
    }

    .cover-frame-inside-no-1 .letter-big {
        font-size: clamp(2.688rem, 1.021rem + 3.47vw, 5.188rem);
    }
}

/*申し込み開始（cover-left-bottom）*/
.cover-left-bottom {
    display: flex;
    flex-direction: column;
    margin-top: .9375rem;
}

.cover-left-bottom-subtext {
    letter-spacing: -.125rem;
}

.cover-left-bottom-text {
    color: #005BAC;
    font-size: 1.5625rem;
    text-shadow: #fff 0 0 4px;

}

/*PC*/
@media(min-width:768px) {

    .cover-left-bottom {
        margin-top: clamp(.625rem, -.042rem + 1.39vw, 1.625rem);
    }

    .cover-left-bottom-subtext {
        font-size: clamp(1.063rem, .313rem + 1.56vw, 2.188rem);
        margin-bottom: clamp(0rem, -.333rem + .69vw, .5rem);
    }

    .cover-left-bottom-text {
        font-size: clamp(1.75rem, .396rem + 2.82vw, 3.781rem);
    }
}

/*ボタン群*/
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.25rem 0;
    row-gap: 0.6875rem;
}

.buttons-container .button {
    width: 15.625rem;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
}
.buttons-container .button a{
    margin:0 auto;
    padding: 0.75rem;
}

@media(min-width:768px) {
    .buttons-container {
        z-index: 3;
        flex-direction: row;
        justify-content: space-around;
        margin: clamp(-4rem, -2.5rem + -1.04vw, -2.75rem) clamp(5rem, -7.667rem + 26.39vw, 24rem);
        padding: 1.25rem 0;
    }

    .buttons-container .button {
        font-size: clamp(.813rem, .313rem + 1.04vw, 1.563rem);
        width: clamp(12.25rem, 6.25rem + 12.5vw, 340px);
    }

    .buttons-container .button a{
        padding: clamp(.563rem, .104rem + .95vw, 1.25rem) clamp(1.25rem, .833rem + .87vw, 1.875rem);

    }


}

.button.addmission-inquiry a {
    background-color: #77CB33;
}

.button.free-trial a {
    background-color: #F6AA00;
}

.button.request-information a {
    background-color: #3AC8AD;
}

/* reason
------------------------------------------ */

/*SP表示のみ、containerのmargin縦を変更*/
@media(max-width:767px) {
    #reason .container {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

#reason .section-title span {
    color: #F11F8D;
    font-size: 2.8125rem;

}

.point {
    margin-bottom: 1.875rem;
}

.point img {
    width: 100%;
    border-radius: 1rem;
}

.point-text * {
    display: inline-block;
}

.point-text .point-number {
    color: #F11F8D;
    font-size: 1.5625rem;
}

.point-text .point-number span {
    font-size: 2.375rem;
    margin-left: .4375rem;
}

.point-title {
    display: block;
    font-size: 1.25rem;
    margin-bottom: .625rem;
}

.point-discription {
    letter-spacing: .0625rem;
    font-size: 1rem;
}

/*PC*/
@media(min-width:768px) {
    .point {
        display: flex;
        align-items: flex-start;
        width: 100%;
        column-gap: 1.875rem;
    }

    .point.right {
        flex-direction: row-reverse;
    }

    .point img {
        width: 48%;
    }

    .point .point-number{
        font-size:1.875rem;
    }

    .point-title{
        margin-bottom:.875rem;
        font-size:1.5rem;
    }
}

/* course
------------------------------------------ */
/*SP表示のみ、containerのmargin横を変更*/
@media(max-width:767px) {
    #course .container {
        margin-left: 0;
        margin-right: 0;
    }
}

/* タブ */
.st-theme-basic {
    border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
    column-gap: .9375rem;
    flex-direction: row !important;
    margin: 0 .625rem;
}

/*PC*/
@media(min-width:768px) {
    .tab.st>.nav {
        column-gap: 1.875rem;
        margin: 0;
    }
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
    padding: 1.375rem .625rem;
    font-size: 1rem;
    line-height: 1;
    background-color: #f0f0f0;
    color: #929292;
    border-radius: .637rem .637rem 0 0;
}

/*PC*/
@media (min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link {
        padding-top: 1.45rem;
        padding-bottom: 1.5rem;
        font-size: 1.25rem;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: #000 !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ */
.tab-content {
    text-align: center;
    background-color: #F2F9FF;
}
/*PC*/
@media(min-width:768px){
    .tab-content{
        border-radius: 1rem;
    }
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    flex-direction: column;
    row-gap: 1.8125rem;
    padding: 1.5625rem;
}

/*PC*/
@media (min-width: 768px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 1.875rem;
        column-gap: 1.25rem;
    }
}

.course__tab-content-item {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 1.875rem;
}

/*PC*/
@media(min-width:768px) {
    .course__tab-content-item {
        flex: 1 1 40%;
        padding-bottom: 0;
    }
}

.course__tab-content-text i,
.course__tab-content-text span {
    display: inline-block;
    vertical-align: middle;
}

.course__tab-content-text span {
    margin-top: .1875rem;
}

.course__tab-content-text i {
    color: #005BAC;
}

/*PC*/
@media(min-width:768px) {
    .course__tab-content-text i {
        font-size: 1.875rem;
    }

    .course__tab-content-text span {
        font-size: 1.25rem;
    }
}


.course__tab-content-item {
    position: static;
}

.course__tab-content-img {
    border-radius: 1rem;
    overflow: hidden;
}


.course__tab-content-item>a:hover .course__tab-content-img {
    opacity: .6;
}

/* price
------------------------------------------ */

/*料金テーブル*/

#price table {
    border-collapse: collapse;
    border: solid .1875rem #999;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

#price th {
    font-weight: 400;
    /*通常の太さ*/
    background-color: #f5f5f5;
    padding: 1.25rem 0;
}

#price td {
    border: solid 1px #999;
    padding: .625rem 0;
}

#price td>span {
    color: #F11F8D;
}

#price td .letter-big {
    font-size: 1.875rem;
}

/*PC*/
@media(min-width:768px) {
    #price table {
        width: fit-content;
    }

    #price th{
        border: solid 1px #999;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    /*講義数*/
    #price td:nth-child(1) {
        padding: .9rem 3rem;
    }

    /*価格*/
    #price td:nth-child(2) {
        padding: .9rem 9.625rem;
    }
}

/* footer
------------------------------------------ */

.footer-buttons-container {
    width: 100%;
}

/*ボタン２種*/
.footer-button {
    height: clamp(10.625rem, 2.852rem + 33.16vw, 18.75rem);
    overflow: hidden;
}

.footer-button a::after {
    width: 100%;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;

}

/*PC*/
@media(min-width:768px) {

    .footer-buttons-container {
        display: flex;

    }

    .footer-button {
        width: 100%;
        justify-content: center;
    }
}

.footer-button .expantion-img-footer{
    position: relative;
    overflow:hidden;
}

/*a(.expantion-img)::afterに背景画像を設定*/
.footer-button .expantion-img-footer::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    transition: transform .4s;
}


.footer-button.faq a::after {
    background-image: url("../images/footer_faq_sp_19.jpg");
}

.footer-button.search-classroom a::after {
    background-image: url("../images/footer_classroom_sp_20.jpg");
}

@media(min-width:768px) {
    .expantion-img-footer:hover::after{
        transform: scale(1.2);
    }

    .footer-button.faq a::after {
        background-image: url("../images/footer_faq_pc_17.jpg");
    }

    .footer-button.search-classroom a::after {
        background-image: url("../images/footer_classroom_pc_18.jpg");
    }
}

.footer-button-heading {
    z-index: 1;
    position: relative;
    display:flex;
    height:100%;
    align-items: center;
    display: flex;
    padding-left: 1.25rem;
    color: #fff;
    font-size: 1.25rem;
    text-shadow: rgba(0, 0, 0, 16%) 0 0 4px;
}

/*PC*/
@media(min-width:768px) {
    .footer-button-heading {
        font-size: 1.875rem;
        justify-content: center;
        padding-left: 0;
    }
}


/*権利表記*/
.footer-copyright {
    background-color: #ddd;
    display: flex;
    align-items: center;
}

.footer-copyright p {
    font-size: .875rem;
    margin: 1.875rem auto;
}

/*PC*/
@media(min-width:768px) {
    .footer-copyright p {
        margin: 3.125rem auto;
    }
}