/*lp1-CSS*/
@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */
/*
html{
    font-size:1vw;
}

@media(max-width:767px){
    html{
        font-size: 5vw;
    }

}*//*
*{
    outline :solid 2px #000;
}*/

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}


a,
a:hover,
a i {
    transition: all 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;

}

li {
    list-style: none;
}

/* 使いまわすもの
------------------------------------------ */

.button {
    border-radius: 3rem;
    color: #fff;
    padding: 0.625rem 1.25rem;
    margin: 0.3125rem auto;
}

.container {
    margin: 3.25rem 1.625rem;
}

/*PC*/
@media(min-width:768px) {
    .container {
        margin: 5rem clamp(5rem, -7.667rem + 26.39vw, 24rem);
    }
}

.section-title {
    text-align: center;
    font-size: 1.6rem;
    margin: 1.25rem 0;
}

/*PC*/
@media(min-width:768px) {
    .section-title {
        margin-bottom: 1.875rem;
    }
}

/*説明会申し込みエリア*/

.briefing-request {
    background-color: #FFEDED;
    text-align: center;
    padding: 1.875rem;
}

.briefing-request p {
    font-size: 1rem;
    margin-bottom: 0.625rem;
}

.briefing-request-button {
    background: linear-gradient(to right, #0271E0, #53A2F0);
    width: 100%;
    font-size: 1.25rem;
    padding: 1.25rem 0;
}

@media(min-width:768px) {
    .briefing-request {
        padding: 3.125rem 0;
    }

    .briefing-request-button {
        width: 21.875rem;
    }
}

/*矢印アイコン*/
.bi-arrow-right-short{
    font-size: 1.5625rem;
}

/*フォント
--------------------------------------*/

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.noto-sans-jp-medium {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-jp-black {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* ヘッダー
------------------------------------------ */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 20%);
}

.header-title {
    color: #005BAC;
    font-size: 1.4375rem;
    padding-left: 0.9375rem;
    margin: auto 0;
    letter-spacing: -0.0313rem;
}

@media(min-width:768px) {

    .header-container {
        padding: 0 20%;
        white-space: nowrap;
    }

    .header-title {
        margin: auto -0.25rem;
        padding-left: 0;
        font-size: 2.0625rem;
    }
}

/*ハンバーガーボタン（SP表示のみ）*/
@media(max-width:767px) {
    .hamburger-button-container {
        background-color: #005BAC;
        display: flex;
        align-items: center;
        padding: 0.625rem 0.9375rem;
        padding-top: 0.25rem;
    }

    .hamburger-button {
        font-size: 2.4688rem;
        color: #fff;
    }

    /*ドロワーメニュー*/
    .drawer-menu-container {
        z-index: 2;
        position: fixed;
        top: 4.375rem;
        left: 0;
        right: 0;
        background-color: #005BAC;
        opacity: 0;
        visibility: hidden;
    }

    .drawer-menu li a {
        display: block;
        color: #fff;
        border-bottom: solid 1px #fff;
        margin: 0 1.25rem;
        padding: 1.2813rem 0;
        line-height: 1rem;
    }

    .drawer-menu i {
        margin-left: -0.375rem;

    }

    .drawer-menu-text {
        font-size: 1.125rem;
        letter-spacing: 0.0125rem;
        margin-left: 0.25rem;
        line-height: 0.3625rem;
    }

    .drawer-menu-button {
        background-color: #fff;
        color: #005BAC;
        display: block;
        margin: 2.0625rem auto;
        padding: 1.25rem 0;
        width: 90%;
        box-sizing: border-box;
        font-size: 1.125rem;
    }

    /* スライドイン後の位置の指定 */
    .drawer-menu-active {
        opacity: 1;
        visibility: visible;
    }
}

/*ナビゲーションメニュー（PC表示のみ）*/
@media(min-width:768px) {

    /*ハンバーガーメニューを非表示に*/
    .hamburger-button-container {
        display: none;
    }

    /*矢印アイコン*/
    .header-nav i {
        display: none;
    }

    .header-nav-container {
        display: flex;
        column-gap: 0.9375rem;
    }

    .header-nav {
        display: flex;
        align-items: center;
        font-size: 1.1875rem;
        letter-spacing: 0.0625rem;
        column-gap: 3rem;
        width: 28.6875rem;
        box-sizing: border-box;
        margin-top: 0.25rem;
    }

    .header-nav-button {
        background: linear-gradient(to right, #0271E0, #53A2F0);
        width: 17.4375rem;
        height: 4.0625rem;
        box-sizing: border-box;
        font-size: 1.25rem;
        padding: 0;
        margin: 1.0625rem auto;
    }
}

/* Cover
------------------------------------------ */

/*全体*/
.cover {
    margin-top: 4.375rem;
    height: 20vh;
    background-image: url(../images/mainVIsual_sp.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}

/*カバー左側の部分*/
.cover-left-container {
    margin-left: auto;
    margin-top: 0.3125rem;
    margin-right: 60%;
    padding-left: 4%;
    white-space: nowrap;
    box-sizing: border-box;
    padding-top: 1.8125rem;/*min 1.8125rem*/
}

/*PC*/
@media(min-width:768px) {
    .cover {
        margin-top: 6.5rem;
        background-image: url(../images/mainVIsual_pc.png);
        height: 34vw;
    }

    .cover-left-container {
        padding-top: clamp(2.188rem, -0.521rem + 5.64vw, 6.25rem);
        padding-left: 0;
        margin-left: clamp(5rem, -7.667rem + 26.39vw, 24rem);/*conteinerのmargin(横)と同値*/
    }
}


/*画像左部の文字*/
.cover-left-top {
    display: flex;
}

/*合格実績No.1(cover-left-top)*/
.cover-frame {
    height: 72px;/*min 72px*/
}

.cover-frame-inside-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.0625rem;
    margin-top: -0.3125rem;
    font-size: 0.6875rem;
}

.cover-frame-inside-no-1 {
    color: #F11F8D;
    font-size: 1.625rem;
}

.cover-frame-inside-no-1 .letter-big {
    font-size: 2.25rem;
}

/*PC*/
@media(min-width:768px) {
    .cover-frame {
        height: clamp(5.375rem, 2.708rem + 5.56vw, 9.375rem);
    }

    .cover-frame-inside-text {
        font-size: clamp(0.75rem, 0.417rem + 0.69vw, 1.25rem);
        margin: 0 clamp(0.625rem, 0.208rem + 0.87vw, 1.25rem);
        row-gap: clamp(0.188rem, -1.104rem + 2.69vw, 2.125rem);
    }

    .cover-frame-inside-no-1 {
        font-size: clamp(1.875rem, 0.833rem + 2.17vw, 3.438rem);
        margin-left: clamp(0rem, -0.542rem + 1.13vw, 0.813rem);
    }

    .cover-frame-inside-no-1 .letter-big {
        font-size: clamp(2.688rem, 1.021rem + 3.47vw, 5.188rem);
    }
}

/*申し込み開始（cover-left-bottom）*/
.cover-left-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 0.9375rem;
}

.cover-left-bottom-subtext {
    letter-spacing: -0.125rem;
}

.cover-left-bottom-text {
    color: #005BAC;
    font-size: 1.5625rem;
    text-shadow: #fff 0 0 4px;

}

/*PC*/
@media(min-width:768px) {

    .cover-left-bottom {
        margin-top: clamp(0.625rem, -0.042rem + 1.39vw, 1.625rem); /*0.625rem*/
    }

    .cover-left-bottom-subtext {
        font-size: clamp(1.063rem, 0.313rem + 1.56vw, 2.188rem);/*1.0625rem*/
        margin-bottom: clamp(0rem, -0.333rem + 0.69vw, 0.5rem);/*0*/
    }

    .cover-left-bottom-text {
        font-size: clamp(1.75rem, 0.396rem + 2.82vw, 3.781rem); /*1.75rem,3.781rem*/
        line-height: clamp(2.5rem, 0.75rem + 3.65vw, 5.125rem);
    }
}

/*ボタン群*/
.buttons-container {
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0;
    row-gap: 0.4375rem;
}

.buttons-container button {
    width: 15.625rem;
    white-space: nowrap;
    box-sizing: border-box;
}

@media(min-width:768px) {
    .buttons-container {
        z-index: 3;
        flex-direction: row;
        align-items: center;
        margin: -4.375rem 20%;
        padding: 1.25rem 0;
    }

    .buttons-container button {
        font-size: 1.5rem;
        width: 21.25rem;
        padding: 1.25rem 0;
    }


}

.button.addmission-inquiry {
    background-color: #77CB33;
}

.button.free-trial {
    background-color: #F6AA00;
}

.button.request-information {
    background-color: #3AC8AD;
}

/* reason
------------------------------------------ */

/*SP表示のみ、containerのmargin縦を変更*/
@media(max-width:767px) {
    #reason .container {
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }
}

#reason .section-title span {
    color: #F11F8D;
    font-size: 2.8125rem;

}

.point {
    margin-bottom: 30px;
}

.point img {
    width: 100%;
    border-radius: 24px;
}

.point-text *{
    display: inline-block;
}

.point-text h3 {
    color: #F11F8D;
    font-size: 1.5625rem;
}

.point-text h3 span {
    font-size: 2.375rem;
    margin-left: 0.4375rem;
}

.point-title {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
}

.point-discription {
    letter-spacing: 0.0625rem;
    font-size: 1rem;
}

/*PC*/
@media(min-width:768px) {
    .point {
        display: flex;
        align-items:flex-start;
        width: 100%;
        column-gap: 1.875rem;
    }

    .point.right {
        flex-direction: row-reverse;
    }

    .point img{
        width:50%;
    }
}

/* course
------------------------------------------ */
/*SP表示のみ、containerのmargin横を変更*/
@media(max-width:767px) {
    #course .container {
        margin-left: 0;
        margin-right: 0;
    }
}

/* タブ */
.st-theme-basic {
    border: none;
}

/* タブナビゲーション */
.tab.st>.nav {
    column-gap: 0.9375rem;
    flex-direction: row !important;
    margin: 0 0.625rem;
}

/*PC*/
@media(min-width:768px) {
    .tab.st>.nav {
        column-gap:1.875rem;
        margin: 0;
    }
}

.tab.st-theme-basic>.nav {
    box-shadow: none;
}

.tab.st-theme-basic>.nav .nav-link {
    padding: 1.375rem 0.625rem;
    font-size: 1rem;
    line-height: 1;
    background-color: #f0f0f0;
    color: #929292;
    border-radius: 0.637rem 0.637rem 0 0;
}

/*PC*/
@media (min-width: 768px) {
    .tab.st-theme-basic>.nav .nav-link {
        padding-top: 1.45rem;
        padding-bottom: 1.5rem;
        font-size: 1.25rem;
    }
}

/* アクティブ状態 */
.tab.st-theme-basic>.nav .nav-link.active {
    color: #000 !important;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.nav .nav-link.active::after {
    background-color: unset !important;
}

/* タブコンテンツ */
.tab-content {
    text-align: center;
    background-color: #F2F9FF;
}

.tab.st-theme-basic>.tab-content>.tab-pane {
    flex-direction: column;
    row-gap: 1.8125rem;
    padding: 1.5625rem;
}

/*PC*/
@media (min-width: 768px) {
    .tab.st-theme-basic>.tab-content>.tab-pane {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 30px;
        column-gap: 1.25rem;
    }
}

.course-tab-content-item {
    width:fit-content;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 1.875rem;
}

/*PC*/
@media(min-width:768px) {
    .course-tab-content-item{
        flex: 1 1 40%;
        padding-bottom: 0;
    }
}

.course-tab-content-text i,
.course-tab-content-text span {
    display: inline-block;
    vertical-align: middle;
}

.course-tab-content-text span {
    margin-top: 0.1875rem;
}

.course-tab-content-text i {
    color: #005BAC;
}

/*PC*/
@media(min-width:768px) {
    .course-tab-content-text i{
        font-size:1.875rem;
    }

    .course-tab-content-text span{
        font-size: 1.25rem;
    }
}

/* price
------------------------------------------ */

/*料金テーブル*/

#price table {
    border-collapse: collapse;
    border: solid 3px #999;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
}

#price th {
    font-weight: 400; /*通常の太さ*/
    background-color: #f5f5f5;
    padding: 20px 0;
}

#price td {
    border: solid 1px #999;
    padding:10px 0;
}

#price td > span{
    color: #F11F8D;
}

#price td .letter-big{
    font-size: 30px;
}

/*PC*/
@media(min-width:768px){
    #price table{
        width:fit-content;
    }
    /*講義数*/
    #price td:nth-child(1){
        padding:1.25rem 2.5rem;
    }
    /*価格*/
    #price td:nth-child(2){
        padding:1.25rem 9.625rem;
    }
}

/* footer
------------------------------------------ */

/*ボタン２種*/
.footer-button{
    width: 100%;
}

.footer-button a{
    height:clamp(10.625rem, 2.852rem + 33.16vw, 18.75rem);
    background-size:cover;
    background-position:bottom;
    display:flex;
    align-items: center;
    padding-left:20px;
}

/*PC*/
@media(min-width:768px){

    .footer-buttons-container{
        display: flex;
    }

    .footer-button a{
        justify-content: center;
    }
}

.footer-button.faq a{
    background-image: url("../images/pht_qa.png");
}

.footer-button.search-classroom a{
    background-image: url("../images/pht_classrooms.png");
}

.footer-button p{
    color: #fff;
    font-size: 20px;
    text-shadow: rgba(0, 0, 0, 16%) 0 0 4px;
}
/*PC*/
@media(min-width:768px){
    .footer-button p{
        font-size: 1.875rem;
    }
}


/*権利表記*/
.footer-copyright{
    background-color: #ddd;
    display: flex;
    align-items: center;
}

.footer-copyright p{
    font-size: 14px;
    margin:30px auto;
}
/*PC*/
@media(min-width:768px){
    .footer-copyright p{
        margin:50px auto;
    }
}