/*lp1-CSS*/
@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

a,
a:hover,
a i {
    transition: all 0.3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;

}

li {
    list-style: none;
}

/* 使いまわすもの
------------------------------------------ */

.button {
    border-radius: 3rem;
    color: #fff;
    padding: 10px 20px;
    margin: 5px auto;
}

/*PC表示*/
/*@media(min-width:768px) {
    .button {
        width: 180px;
        height: 40px;
        box-sizing: border-box;
        font-size: 12px;
        padding: 0 30px;
        margin: auto;
    }
}*/

/*フォント
--------------------------------------*/

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.noto-sans-jp-medium {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.noto-sans-jp-bold {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.noto-sans-jp-black {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 900;
    font-style: normal;
}


/* ヘッダー
------------------------------------------ */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 20%);
}

.header-title {
    color: #005BAC;
    font-size: 23px;
    padding-left: 15px;
    margin: auto 0;
    letter-spacing: -0.5px;
}

/*ハンバーガーボタン（SP表示のみ）*/
@media(max-width:767px) {
    .hamburger-button-container {
        background-color: #005BAC;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        padding-top: 4px;
    }

    .hamburger-button {
        font-size: 39.5px;
        color: #fff;
    }

    /*ドロワーメニュー*/
    .drawer-menu-container {
        z-index: 2;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        background-color: #005BAC;

        transition: opacity .3s linear;
        opacity: 0;
        visibility: hidden;
    }

    .drawer-menu li a {
        display: block;
        color: #fff;
        border-bottom: solid 1px #fff;
        margin: 0 20px;
        padding: 20.5px 0;
        line-height: 1rem;
    }

    .drawer-menu i {
        font-size: 25px;
        margin-left: -10px;

    }
    .drawer-menu-text{
        font-size: 18px;
        letter-spacing: 0.2px;
        margin-left: 4px;
        line-height: 5.8px;
    }

    .drawer-menu-button {
        background-color: #fff;
        color: #005BAC;
        display: block;
        margin: 33px auto;
        padding: 20px 0;
        width: 90%;
        box-sizing: border-box;
        font-size: 18px;
    }

    /* スライドイン後の位置の指定 */
    .drawer-menu-active {
        opacity: 1;
        visibility: visible;
    }
}

/*ナビゲーションメニュー（PC表示のみ）*/
@media(min-width:768px) {

    .header-container {
        padding: 0 152px;
        white-space: nowrap;
    }
    .header-title{
        margin: auto 0;
        padding-left: 0;
        font-size: 14px;
    }

    /*ハンバーガーメニューを非表示に*/
    .hamburger-button-container {
        display: none;
    }

    /*矢印アイコン*/
    .header-nav i {
        display: none;
    }

    .header-nav-container {
        display: flex;
        column-gap: 15px;
    }

    .header-nav {
        display: flex;
        align-items: center;
        font-size: 8px;
        column-gap: 23px;
    }

    .header-nav-button {
        background: linear-gradient(to right, #0271E0, #53A2F0);
        width: 113px;
        height: 25px;
        box-sizing: border-box;
        font-size: 8px;
        padding: 0;
        margin: 8px auto;
    }
}